{{ define "main" }}
    <main class="main list" id="main">
        <div class="main-inner">
            <div class="content list-coldplay">
                <h1 class="list-title">{{ .Title }}</h1>
                <div class="post-body">
                    <hr class="coldplay" />
                    {{ with index .Params.images 0 }}
                        <img src="{{ . }}" alt="{{ path.Base . }}" />
                    {{ end }}
                    <ul class="list-part">
                        {{ range .RegularPages }}
                            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                        {{ end }}
                    </ul>
                    <hr class="coldplay" />
                    <div class="coldplay-footer">— updated @ {{ .Lastmod.Format "2006-01-02 15:04:05" }}</div>
                </div>
            </div>
            {{ partial "components/post-share.html" . }}
        </div>
    </main>
{{ end }}
