{{- $ := index . "$" -}}
{{- $Content := .Content -}}

<!-- Video Helper -->
{{- if $.Site.Params.enableVideoHelper -}}
    {{- $regex := `(<video[^>]+)` -}}
        {{- $replacement := `$1 type="video/mp4" controls` -}}
    {{- $Content = $Content | replaceRE $regex $replacement -}}
{{- end -}}

<!-- Add Substack embed at the end of content -->
{{- $SubstackEmbed := `<iframe src="https://yixiuer.substack.com/embed" class="substack-embed"></iframe>` -}}
{{- $Content = printf `%s%s` $Content $SubstackEmbed -}}

{{- return $Content -}}
