{{- $ := index . "$" -}}
{{- $Content := .Content -}}

<!-- Video Helper -->
{{- if $.Site.Params.enableVideoHelper -}}
    {{- $temps := findRE `<(video)\s+[^>]*?src="/?([^":]+)` $Content | uniq -}}
    {{- with $temps -}}
        {{- range . -}}
            {{- $url := replaceRE `<(video)\s+[^>]*?src="/?([^":]+)` `$2` . -}}
            {{- $prefix := replaceRE `(<(video)\s+[^>]*?src=")/?([^":]+)` `$1` . -}}
            {{- $replacement := (printf `%s%s%s" controls type="video/mp4` $prefix $.Site.Params.videoHostURL (index $.Site.Data.VIDEOS $url)) -}}
            {{- $Content = replace $Content . $replacement -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- return $Content -}}
