{{/*  Used for LOGO only  */}}
{{ $linkLato := "https://fonts.googleapis.com/css2?family=Lato:wght@700&text=reuixiy&display=swap" }}

<link rel="stylesheet" href="{{ $linkLato }}" media="print" onload="this.media='all'" />
<noscript><link rel="stylesheet" href="{{ $linkLato }}" /></noscript>

{{/*  Load custom fonts async  */}}
{{- $fontsLink := "https://cdn.jsdelivr.net/gh/reuixiy/fonts@build/css/fonts.min.css" -}}

<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
<link rel="stylesheet" href="{{ $fontsLink }}" media="print" onload="this.media='all'" />
<noscript><link rel="stylesheet" href="{{ $fontsLink }}" /></noscript>